# Generate fort.67 Notebook
<img style="float:right;" src="https://irr2.gmu.edu/inc/AIETemplate/MasonM.png" width=150px>

### Description:

 - Read multiple shapefiles and compile them to a single shapefile
 
### Directions:
1. Import Libraries and Assign Variables
2. Define root directory
3. Run

In [1]:
import pandas as pd
import numpy as np
import os
from decimal import Decimal

In [2]:
root_dir = r'C:\Users\tmiesse\Work\climate_grib'
file = 'fort.67.asc'

In [3]:
f67 = os.path.join(root_dir,file)
f14 = os.path.join(root_dir,'fort.14')
fnew= os.path.join(root_dir,'fort.67.new')

In [4]:
def find_columns(data):
    data2 = []
    for f in data.split(' '):
        if f != '':
            data2.append(f)   
    return data2

In [5]:
node_id,data,label=[],[],[]
with open(f67,'r') as fin:
    lines = fin.readlines()
for i in range(9,len(lines)):
    data.append(find_columns(lines[i])[2].split('\n')[0])
    node_id.append(find_columns(lines[i])[1])
    label.append(find_columns(lines[i])[0])

In [6]:
lines

[' Major:   1 Minor:   2 Rev:   0\n',
 'imhs =   111112\n',
 'time =    0.9374400000000000E+07\n',
 'iths =    9374400\n',
 'NP_G =     381164\n',
 'NE_G =     750479\n',
 'NP_A =     381164\n',
 'NE_A =     750479\n',
 '#---- ETA1 ----\n',
 '      ETA1       1:    3.9557633972E+01\n',
 '      ETA1       2:    4.0512471771E+01\n',
 '      ETA1       3:    5.4754064179E+01\n',
 '      ETA1       4:    2.5022111511E+01\n',
 '      ETA1       5:    2.2844218826E+01\n',
 '      ETA1       6:    2.3800971603E+01\n',
 '      ETA1       7:    3.2347753143E+01\n',
 '      ETA1       8:    4.0191251373E+01\n',
 '      ETA1       9:    4.1093003845E+01\n',
 '      ETA1      10:    6.0737901306E+01\n',
 '      ETA1      11:    2.8778207398E+01\n',
 '      ETA1      12:    2.0483319855E+01\n',
 '      ETA1      13:    1.8696160889E+01\n',
 '      ETA1      14:    2.8069566345E+01\n',
 '      ETA1      15:    2.8902471161E+01\n',
 '      ETA1      16:    3.3120847321E+01\n',
 '      ETA1      17:    2.8708745575E+01\n',
 '      ETA1      18:    4.7712197876E+01\n',
 '      ETA1      19:    3.3989438629E+01\n',
 '      ETA1      20:    3.5580281830E+01\n',
 '      ETA1      21:    4.6702157593E+01\n',
 '      ETA1      22:    5.2250520325E+01\n',
 '      ETA1      23:    4.6121965027E+01\n',
 '      ETA1      24:    1.9755710220E+01\n',
 '      ETA1      25:    1.9714948273E+01\n',
 '      ETA1      26:    2.4267093277E+01\n',
 '      ETA1      27:    1.9081855393E+01\n',
 '      ETA1      28:    1.7481977081E+01\n',
 '      ETA1      29:    1.6487241364E+01\n',
 '      ETA1      30:    1.7560355759E+01\n',
 '      ETA1      31:    1.8520555115E+01\n',
 '      ETA1      32:    2.1677274323E+01\n',
 '      ETA1      33:    2.6162215805E+01\n',
 '      ETA1      34:    2.0908656693E+01\n',
 '      ETA1      35:    4.3107652283E+01\n',
 '      ETA1      36:    3.9462457275E+01\n',
 '      ETA1      37:    3.4404084778E+01\n',
 '      ETA1      38:    2.7792188263E+01\n',
 '      ETA1      39:    2.8348750687E+01\n',
 '      ETA1      40:    3.8914582825E+01\n',
 '      ETA1      41:    2.4619172669E+01\n',
 '      ETA1      42:    2.8470710373E+01\n',
 '      ETA1      43:    1.9551322556E+01\n',
 '      ETA1      44:    3.3792798615E+01\n',
 '      ETA1      45:    3.6871396637E+01\n',
 '      ETA1      46:    1.0481619453E+01\n',
 '      ETA1      47:    1.6829866028E+01\n',
 '      ETA1      48:    1.5954064941E+01\n',
 '      ETA1      49:    1.7985337830E+01\n',
 '      ETA1      50:    1.0157471275E+01\n',
 '      ETA1      51:    1.7325679398E+01\n',
 '      ETA1      52:    1.4435634232E+01\n',
 '      ETA1      53:    1.3805790520E+01\n',
 '      ETA1      54:    1.7112670517E+01\n',
 '      ETA1      55:    2.7048192596E+01\n',
 '      ETA1      56:    2.5000317970E-01\n',
 '      ETA1      57:    2.5000629526E-01\n',
 '      ETA1      58:    1.4261840439E+01\n',
 '      ETA1      59:    2.9786904907E+01\n',
 '      ETA1      60:    2.9746121979E+01\n',
 '      ETA1      61:    2.4616374588E+01\n',
 '      ETA1      62:    2.1987544632E+01\n',
 '      ETA1      63:    4.0130189514E+01\n',
 '      ETA1      64:    3.8677224731E+01\n',
 '      ETA1      65:    2.2624085999E+01\n',
 '      ETA1      66:    3.7162450409E+01\n',
 '      ETA1      67:    4.8840303040E+01\n',
 '      ETA1      68:    2.9928992844E+01\n',
 '      ETA1      69:    2.6557323074E+01\n',
 '      ETA1      70:    1.8898208237E+01\n',
 '      ETA1      71:    2.9667277908E+01\n',
 '      ETA1      72:    2.8963876343E+01\n',
 '      ETA1      73:    3.5143754578E+01\n',
 '      ETA1      74:    1.0638949966E+01\n',
 '      ETA1      75:    5.3798938751E+00\n',
 '      ETA1      76:    6.1563621521E+00\n',
 '      ETA1      77:    4.7770496368E+00\n',
 '      ETA1      78:    7.2692252159E+00\n',
 '      ETA1      79:    1.3082723236E+01\n',
 '      ETA1      80:    1.2273049927E+01\n',
 '      ETA1      81:    1.3368924713E+01\n',
 '      ETA1      82:    7.6651516914E+00\n',
 '      ETA1      83:    1.2174702263E+01\n',
 '      ETA1      84:    1.3867660141E+01\n',
 '      ETA1      85:    2.1709300613E+01\n',
 '      ETA1      86:    4.2847409821E+01\n',
 '      ETA1      87:    8.7858263016E+00\n',
 '      ETA1      88:    2.5000548029E-01\n',
 '      ETA1      89:    2.5000844603E-01\n',
 '      ETA1      90:    8.7145534515E+00\n',
 '      ETA1      91:    2.8144448853E+01\n',
 '      ETA1      92:    3.0087134933E+01\n',
 '      ETA1      93:    2.9120399094E+01\n',
 '      ETA1      94:    1.9537387466E+01\n',
 '      ETA1      95:    4.2876847839E+01\n',
 '      ETA1      96:    3.9383489227E+01\n',
 '      ETA1      97:    2.7241227722E+01\n',
 '      ETA1      98:    5.0755395508E+01\n',
 '      ETA1      99:    5.5696775055E+01\n',
 '      ETA1     100:    3.1806825256E+01\n',
 '      ETA1     101:    2.9613214111E+01\n',
 '      ETA1     102:    2.5709462738E+01\n',
 '      ETA1     103:    2.1072667694E+01\n',
 '      ETA1     104:    2.5533755875E+01\n',
 '      ETA1     105:    2.8050307846E+01\n',
 '      ETA1     106:    3.3774694061E+01\n',
 '      ETA1     107:    2.9993316269E+01\n',
 '      ETA1     108:    1.4353224373E+01\n',
 '      ETA1     109:    5.1284152031E+00\n',
 '      ETA1     110:    1.0695069885E+01\n',
 '      ETA1     111:    4.2860904694E+00\n',
 '      ETA1     112:    5.5046654701E+00\n',
 '      ETA1     113:    4.9033342361E+00\n',
 '      ETA1     114:    5.5880528450E+00\n',
 '      ETA1     115:    9.1631752014E+00\n',
 '      ETA1     116:    8.2979799271E+00\n',
 '      ETA1     117:    7.7457915306E+00\n',
 '      ETA1     118:    1.3482110596E+01\n',
 '      ETA1     119:    1.2856313324E+01\n',
 '      ETA1     120:    2.2086515045E+01\n',
 '      ETA1     121:    2.6311656570E+01\n',
 '      ETA1     122:    7.4229784966E+00\n',
 '      ETA1     123:    2.5000715708E-01\n',
 '      ETA1     124:    2.5001044335E-01\n',
 '      ETA1     125:    6.4449964523E+00\n',
 '      ETA1     126:    3.6384729004E+01\n',
 '      ETA1     127:    3.7236692047E+01\n',
 '      ETA1     128:    1.9093682861E+01\n',
 '      ETA1     129:    2.0403018570E+01\n',
 '      ETA1     130:    3.6088208771E+01\n',
 '      ETA1     131:    2.9119750595E+01\n',
 '      ETA1     132:    4.3504666901E+01\n',
 '      ETA1     133:    3.7724214172E+01\n',
 '      ETA1     134:    3.9683772087E+00\n',
 '      ETA1     135:    4.1978509522E+01\n',
 '      ETA1     136:    3.8256154633E+01\n',
 '      ETA1     137:    2.9718787766E+01\n',
 '      ETA1     138:    2.2443355179E+01\n',
 '      ETA1     139:    2.8763478851E+01\n',
 '      ETA1     140:    1.9217607117E+01\n',
 '      ETA1     141:    2.7532420731E+01\n',
 '      ETA1     142:    1.5676401711E+01\n',
 '      ETA1     143:    7.8362732887E+00\n',
 '      ETA1     144:    1.1351468658E+01\n',
 '      ETA1     145:    4.5879846573E+00\n',
 '      ETA1     146:    5.0255480766E+00\n',
 '      ETA1     147:    6.9471856117E+00\n',
 '      ETA1     148:    7.0035186768E+00\n',
 '      ETA1     149:    1.1996122932E+01\n',
 '      ETA1     150:    9.6162734985E+00\n',
 '      ETA1     151:    1.0173333740E+01\n',
 '      ETA1     152:    1.3059170341E+01\n',
 '      ETA1     153:    2.7439094162E+01\n',
 '      ETA1     154:    2.7611783600E+01\n',
 '      ETA1     155:    3.6279058075E+01\n',
 '      ETA1     156:    2.8835351563E+01\n',
 '      ETA1     157:    5.1362181664E+00\n',
 '      ETA1     158:    2.5000861512E-01\n',
 '      ETA1     159:    2.5001150655E-01\n',
 '      ETA1     160:    6.7523437500E+00\n',
 '      ETA1     161:    3.7604135132E+01\n',
 '      ETA1     162:    1.8449363327E+01\n',
 '      ETA1     163:    1.7487880325E+01\n',
 '      ETA1     164:    2.8409160232E+01\n',
 '      ETA1     165:    3.0105786896E+01\n',
 '      ETA1     166:    2.8804706192E+01\n',
 '      ETA1     167:    3.8538362122E+01\n',
 '      ETA1     168:    4.1602569580E+00\n',
 '      ETA1     169:    3.7827621460E+00\n',
 '      ETA1     170:    3.5364099121E+01\n',
 '      ETA1     171:    2.8015294647E+01\n',
 '      ETA1     172:    2.3881278610E+01\n',
 '      ETA1     173:    2.0632629013E+01\n',
 '      ETA1     174:    1.8349395371E+01\n',
 '      ETA1     175:    1.7217404938E+01\n',
 '      ETA1     176:    1.4721047974E+01\n',
 '      ETA1     177:    1.5515918350E+01\n',
 '      ETA1     178:    7.6967893600E+00\n',
 '      ETA1     179:    9.1450725555E+00\n',
 '      ETA1     180:    5.5279112816E+00\n',
 '      ETA1     181:    7.9504471779E+00\n',
 '      ETA1     182:    9.5016389847E+00\n',
 '      ETA1     183:    1.4402634239E+01\n',
 '      ETA1     184:    2.6266923523E+01\n',
 '      ETA1     185:    1.9239705658E+01\n',
 '      ETA1     186:    2.1428769684E+01\n',
 '      ETA1     187:    2.2742841339E+01\n',
 '      ETA1     188:    3.5762658691E+01\n',
 '      ETA1     189:    2.5634654617E+01\n',
 '      ETA1     190:    3.2347776032E+01\n',
 '      ETA1     191:    6.3225341797E+00\n',
 '      ETA1     192:    2.5001039605E-01\n',
 '      ETA1     193:    2.5001309930E-01\n',
 '      ETA1     194:    2.4513283730E+00\n',
 '      ETA1     195:    1.0257171249E+01\n',
 '      ETA1     196:    2.7129468536E+01\n',
 '      ETA1     197:    1.5579124069E+01\n',
 '      ETA1     198:    1.6623321152E+01\n',
 '      ETA1     199:    1.7080512619E+01\n',
 '      ETA1     200:    3.3705098724E+01\n',
 '      ETA1     201:    4.4326177216E+01\n',
 '      ETA1     202:    3.6104231834E+00\n',
 '      ETA1     203:    3.7268954277E+00\n',
 '      ETA1     204:    3.6014948845E+00\n',
 '      ETA1     205:    2.1226180649E+01\n',
 '      ETA1     206:    1.5787989235E+01\n',
 '      ETA1     207:    1.0719668961E+01\n',
 '      ETA1     208:    1.3768642044E+01\n',
 '      ETA1     209:    1.3624868965E+01\n',
 '      ETA1     210:    1.3187819099E+01\n',
 '      ETA1     211:    8.4056049347E+00\n',
 '      ETA1     212:    7.9612365723E+00\n',
 '      ETA1     213:    4.6933890343E+00\n',
 '      ETA1     214:    5.7059789658E+00\n',
 '      ETA1     215:    4.8391462326E+00\n',
 '      ETA1     216:    9.2197481155E+00\n',
 '      ETA1     217:    1.3578380203E+01\n',
 '      ETA1     218:    2.1459106064E+01\n',
 '      ETA1     219:    2.0447877502E+01\n',
 '      ETA1     220:    3.2302091217E+01\n',
 '      ETA1     221:    3.6816564179E+01\n',
 '      ETA1     222:    3.4225217438E+01\n',
 '      ETA1     223:    3.1980613327E+01\n',
 '      ETA1     224:    3.1786470032E+01\n',
 '      ETA1     225:    3.7329045868E+01\n',
 '      ETA1     226:    2.3014554596E+01\n',
 '      ETA1     227:    1.5836858368E+01\n',
 '      ETA1     228:    5.1670323372E+00\n',
 '      ETA1     229:    2.5001332798E-01\n',
 '      ETA1     230:    2.5001493470E-01\n',
 '      ETA1     231:    5.4496766090E+00\n',
 '      ETA1     232:    1.0009917831E+01\n',
 '      ETA1     233:    1.7204803085E+01\n',
 '      ETA1     234:    1.3255801773E+01\n',
 '      ETA1     235:    1.7498815155E+01\n',
 '      ETA1     236:    3.3233953095E+01\n',
 '      ETA1     237:    3.9361379242E+01\n',
 '      ETA1     238:    2.8298853397E+00\n',
 '      ETA1     239:    3.0773499966E+00\n',
 '      ETA1     240:    3.4231866360E+00\n',
 '      ETA1     241:    1.4181669807E+01\n',
 '      ETA1     242:    9.4819894791E+00\n',
 '      ETA1     243:    5.4559861183E+00\n',
 '      ETA1     244:    6.7728401184E+00\n',
 '      ETA1     245:    7.7875047684E+00\n',
 '      ETA1     246:    1.0184395409E+01\n',
 '      ETA1     247:    6.1331053734E+00\n',
 '      ETA1     248:    4.8178287506E+00\n',
 '      ETA1     249:    3.0132788181E+00\n',
 '      ETA1     250:    5.4521747589E+00\n',
 '      ETA1     251:    2.8305676937E+00\n',
 '      ETA1     252:    5.4437032700E+00\n',
 '      ETA1     253:    9.4271207809E+00\n',
 '      ETA1     254:    1.9753472900E+01\n',
 '      ETA1     255:    2.8364398575E+01\n',
 '      ETA1     256:    2.9451026535E+01\n',
 '      ETA1     257:    2.5396289444E+01\n',
 '      ETA1     258:    5.0942678070E+01\n',
 '      ETA1     259:    4.8559674835E+01\n',
 '      ETA1     260:    4.1027295685E+01\n',
 '      ETA1     261:    3.1476363754E+01\n',
 '      ETA1     262:    4.8747029877E+01\n',
 '      ETA1     263:    5.0811734772E+01\n',
 '      ETA1     264:    2.0087375259E+01\n',
 '      ETA1     265:    1.4045071220E+01\n',
 '      ETA1     266:    1.2235779524E+00\n',
 '      ETA1     267:    2.5001398557E-01\n',
 '      ETA1     268:    2.5001591556E-01\n',
 '      ETA1     269:    1.6965683460E+00\n',
 '      ETA1     270:    1.2317483187E+00\n',
 '      ETA1     271:    2.0380054474E+00\n',
 '      ETA1     272:    1.2184722519E+01\n',
 '      ETA1     273:    1.3730814552E+01\n',
 '      ETA1     274:    2.2877835846E+01\n',
 '      ETA1     275:    3.4599889374E+01\n',
 '      ETA1     276:    3.1805394650E+00\n',
 '      ETA1     277:    2.6161540508E+00\n',
 '      ETA1     278:    2.3471413612E+00\n',
 '      ETA1     279:    1.0761836624E+01\n',
 '      ETA1     280:    9.8443552017E+00\n',
 '      ETA1     281:    1.0587372398E+01\n',
 '      ETA1     282:    4.8284879684E+00\n',
 '      ETA1     283:    4.1898923874E+00\n',
 '      ETA1     284:    7.2082611084E+00\n',
 '      ETA1     285:    6.8518830299E+00\n',
 '      ETA1     286:    5.6536365509E+00\n',
 '      ETA1     287:    4.8746543884E+00\n',
 '      ETA1     288:    8.4757114410E+00\n',
 '      ETA1     289:    2.3744693756E+00\n',
 '      ETA1     290:    3.0418754578E+00\n',
 '      ETA1     291:    3.9499190807E+00\n',
 '      ETA1     292:    7.5218544960E+00\n',
 '      ETA1     293:    1.1105172729E+01\n',
 '      ETA1     294:    1.6820394135E+01\n',
 '      ETA1     295:    2.3707671738E+01\n',
 '      ETA1     296:    2.2792321777E+01\n',
 '      ETA1     297:    3.3028043366E+01\n',
 '      ETA1     298:    4.1683557129E+01\n',
 '      ETA1     299:    5.0517488098E+01\n',
 '      ETA1     300:    4.7007238007E+01\n',
 '      ETA1     301:    4.2637551880E+01\n',
 '      ETA1     302:    5.5428353882E+01\n',
 '      ETA1     303:    2.3652288055E+01\n',
 '      ETA1     304:    7.2818957329E+00\n',
 '      ETA1     305:    1.8773147202E+01\n',
 '      ETA1     306:    5.2593708630E-01\n',
 '      ETA1     307:    8.8807788849E+00\n',
 '      ETA1     308:    1.3646534443E+00\n',
 '      ETA1     309:    2.5001701729E-01\n',
 '      ETA1     310:    4.0439690113E+00\n',
 '      ETA1     311:    2.4434021473E+00\n',
 '      ETA1     312:    8.7168346405E+00\n',
 '      ETA1     313:    6.2525554657E+00\n',
 '      ETA1     314:    2.7928174496E+00\n',
 '      ETA1     315:    7.2076502800E+00\n',
 '      ETA1     316:    1.4558514214E+01\n',
 '      ETA1     317:    3.0285020447E+01\n',
 '      ETA1     318:    2.7990956879E+01\n',
 '      ETA1     319:    3.7347134113E+00\n',
 '      ETA1     320:    3.9187270164E+00\n',
 '      ETA1     321:    1.7158221817E+01\n',
 '      ETA1     322:    1.7919486618E+01\n',
 '      ETA1     323:    1.6215879059E+01\n',
 '      ETA1     324:    6.3495198250E+00\n',
 '      ETA1     325:    9.2606197357E+00\n',
 '      ETA1     326:    7.9138017654E+00\n',
 '      ETA1     327:    8.4824958801E+00\n',
 '      ETA1     328:    1.1510539627E+01\n',
 '      ETA1     329:    3.4031897545E+00\n',
 '      ETA1     330:    1.3369238138E+00\n',
 '      ETA1     331:    6.2609320641E+00\n',
 '      ETA1     332:    4.5619636536E+00\n',
 '      ETA1     333:    8.2799278259E+00\n',
 '      ETA1     334:    1.3862151718E+01\n',
 '      ETA1     335:    2.1680701828E+01\n',
 '      ETA1     336:    2.7904378510E+01\n',
 '      ETA1     337:    3.0601459122E+01\n',
 '      ETA1     338:    4.1779141998E+01\n',
 '      ETA1     339:    4.5353459930E+01\n',
 '      ETA1     340:    5.2980977631E+01\n',
 '      ETA1     341:    5.8840413666E+01\n',
 '      ETA1     342:    4.2441712952E+01\n',
 '      ETA1     343:    2.6720090485E+01\n',
 '      ETA1     344:    1.1195774651E+01\n',
 '      ETA1     345:    2.0985019302E+01\n',
 '      ETA1     346:    2.0878859520E+00\n',
 '      ETA1     347:    1.2847076416E+00\n',
 '      ETA1     348:   -7.0112877594E-02\n',
 '      ETA1     349:    1.3966854668E+01\n',
 '      ETA1     350:    8.9451747894E+00\n',
 '      ETA1     351:    2.5000000000E-01\n',
 '      ETA1     352:    1.3857557535E+00\n',
 '      ETA1     353:    7.5442110062E+00\n',
 '      ETA1     354:    3.1664660931E+00\n',
 '      ETA1     355:    1.5139842987E+00\n',
 '      ETA1     356:    4.6078290662E-01\n',
 '      ETA1     357:    6.7584917550E-01\n',
 '      ETA1     358:   -7.0673423226E-02\n',
 '      ETA1     359:   -7.0133560393E-02\n',
 '      ETA1     360:   -7.0058847886E-02\n',
 '      ETA1     361:    2.5487178421E+01\n',
 '      ETA1     362:    2.8558290100E+01\n',
 '      ETA1     363:    7.6777993202E+00\n',
 '      ETA1     364:    2.2853667831E+01\n',
 '      ETA1     365:    2.7602246857E+01\n',
 '      ETA1     366:    2.1701819992E+01\n',
 '      ETA1     367:    1.1597232437E+01\n',
 '      ETA1     368:    1.7601487732E+01\n',
 '      ETA1     369:    1.2990735626E+01\n',
 '      ETA1     370:    9.7493492126E+00\n',
 '      ETA1     371:    1.2592756844E+01\n',
 '      ETA1     372:    2.3118210793E+00\n',
 '      ETA1     373:    3.8308380604E+00\n',
 '      ETA1     374:    1.7851058579E+01\n',
 '      ETA1     375:    6.5759283066E+00\n',
 '      ETA1     376:    1.3044291115E+01\n',
 '      ETA1     377:    2.4110942459E+01\n',
 '      ETA1     378:    3.4758874512E+01\n',
 '      ETA1     379:    3.4453809357E+01\n',
 '      ETA1     380:    3.5595128632E+01\n',
 '      ETA1     381:    5.0469953156E+01\n',
 '      ETA1     382:    5.0292615509E+01\n',
 '      ETA1     383:    4.7964013672E+01\n',
 '      ETA1     384:    3.6687524414E+01\n',
 '      ETA1     385:    2.8479741669E+01\n',
 '      ETA1     386:    1.1792048073E+01\n',
 '      ETA1     387:    2.1485917664E+01\n',
 '      ETA1     388:    4.2958417892E+00\n',
 '      ETA1     389:    5.2272091866E+00\n',
 '      ETA1     390:    1.6716357231E+00\n',
 '      ETA1     391:   -7.0033884110E-02\n',
 '      ETA1     392:    1.6780152893E+01\n',
 '      ETA1     393:    8.9372077942E+00\n',
 '      ETA1     394:    2.9646719456E+00\n',
 '      ETA1     395:   -7.1170863674E-02\n',
 '      ETA1     396:   -7.1177585572E-02\n',
 '      ETA1     397:   -7.1093729330E-02\n',
 '      ETA1     398:   -7.0362578737E-02\n',
 '      ETA1     399:   -7.0913838585E-02\n',
 '      ETA1     400:   -7.0702050650E-02\n',
 '      ETA1     401:   -7.0156277149E-02\n',
 '      ETA1     402:   -7.0092691342E-02\n',
 '      ETA1     403:   -6.9956333984E-02\n',
 '      ETA1     404:   -7.0051373691E-02\n',
 '      ETA1     405:    2.1484611130E+01\n',
 '      ETA1     406:    1.1127127266E+01\n',
 '      ETA1     407:    3.6188550568E+01\n',
 '      ETA1     408:    3.1676999664E+01\n',
 '      ETA1     409:    1.9812392807E+01\n',
 '      ETA1     410:    1.6433810806E+01\n',
 '      ETA1     411:    1.0261033630E+01\n',
 '      ETA1     412:    7.8650375366E+00\n',
 '      ETA1     413:    1.6869701004E+01\n',
 '      ETA1     414:    4.8382359505E+00\n',
 '      ETA1     415:    1.3235814333E+00\n',
 '      ETA1     416:    1.6353551483E+01\n',
 '      ETA1     417:    9.0322900772E+00\n',
 '      ETA1     418:    2.0561414337E+01\n',
 '      ETA1     419:    3.8905156708E+01\n',
 '      ETA1     420:    5.1252137756E+01\n',
 '      ETA1     421:    4.8817819214E+01\n',
 '      ETA1     422:    4.9219190216E+01\n',
 '      ETA1     423:    4.8162580109E+01\n',
 '      ETA1     424:    3.3286149597E+01\n',
 '      ETA1     425:    2.1886668778E+01\n',
 '      ETA1     426:    2.5744397736E+01\n',
 '      ETA1     427:    1.1067968941E+01\n',
 '      ETA1     428:    2.0310556030E+01\n',
 '      ETA1     429:    4.7229968071E+00\n',

In [7]:
table67 = pd.DataFrame()
table67.insert(0,'label',label)
table67.insert(1,'node',node_id)
table67.insert(2,'data',data)
table67.head(2)

  label node              data
0  ETA1   1:  3.9557633972E+01
1  ETA1   2:  4.0512471771E+01

In [8]:
nodesx, nodesy, value, node_id, node_name, loc = [], [], [], [], [], []
with open(f14, 'r') as f:
    lines = f.readlines()
    for i in range(0,len(lines)):
        line = lines[i]
        nodes = int(lines[1].split(' ')[2])
        if i>1 and i<nodes+2:
            loc.append(line.strip().split('\n')[0])
for i in range(len(loc)):
    node_id.append(find_columns(loc[i])[0])
    nodesx.append(find_columns(loc[i])[1])
    nodesy.append(find_columns(loc[i])[2])
    value.append(find_columns(loc[i])[3])
node_name = {'node_id':node_id}
table = pd.DataFrame(node_name)
table.insert(1,'node_x',nodesx)
table.insert(2,'node_y',nodesy)
table.insert(3,'value',value)
table.head(2)

  node_id          node_x         node_y           value
0       1  -76.9454281377  39.0026000108  -39.4576339722
1       2  -76.9465507379  38.9968142640  -40.4124717712

In [9]:
label2 = list(table67['label'].unique())
df = table67[table67['label'] == label2[0]]

In [10]:
df2 = pd.DataFrame(table['node_id'])
df2.insert(1,'bias',10)
df2.head(2)

  node_id  bias
0       1    10
1       2    10

In [11]:
df3 = df

In [12]:
df.head()

  label node              data
0  ETA1   1:  3.9557633972E+01
1  ETA1   2:  4.0512471771E+01
2  ETA1   3:  5.4754064179E+01
3  ETA1   4:  2.5022111511E+01
4  ETA1   5:  2.2844218826E+01

In [13]:
df = df.replace(df.loc[table['value'].astype('float')<0.0]['data'],
                df[table['value'].astype('float')<0.0]['data'].astype('float') + df2[table['value'].astype('float')<0.0]['bias'])

In [14]:
df.head()

  label node              data
0  ETA1   1:  3.9557633972E+01
1  ETA1   2:  4.0512471771E+01
2  ETA1   3:  5.4754064179E+01
3  ETA1   4:  2.5022111511E+01
4  ETA1   5:  2.2844218826E+01

In [ ]:
for l in label2[0:2,2]:
    df = table67[table67['label'] == label2[l]]
    df = df.replace(df.loc[table['value'].astype('float')<0.0]['data'],
                    df[table['value'].astype('float')<0.0]['data'].astype('float') + df2[table['value'].astype('float')<0.0]['bias'])
    table67 = table67.replace(table67.loc[df['label']])

In [15]:
df.head()

  label node              data
0  ETA1   1:  3.9557633972E+01
1  ETA1   2:  4.0512471771E+01
2  ETA1   3:  5.4754064179E+01
3  ETA1   4:  2.5022111511E+01
4  ETA1   5:  2.2844218826E+01

In [16]:
for l in label2[0:1]:
    table67.loc[table67['label'] == l]['data'] = df['data']

C:\Users\tmiesse\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [145]:
table67.head()

  label node              data
0  ETA1   1:  3.9557633972E+01
1  ETA1   2:  4.0512471771E+01
2  ETA1   3:  5.4754064179E+01
3  ETA1   4:  2.5022111511E+01
4  ETA1   5:  2.2844218826E+01

In [149]:
new = table67.replace(table67.loc[table67['label'] == l]['data'],df['data'])

In [150]:
new.head()

  label node              data
0  ETA1   1:  3.9557633972E+01
1  ETA1   2:  4.0512471771E+01
2  ETA1   3:  5.4754064179E+01
3  ETA1   4:  2.5022111511E+01
4  ETA1   5:  2.2844218826E+01

In [82]:
ele = float(data)/100
ele
'{:.10E}'.format(new)

TypeError: float() argument must be a string or a number, not 'list'

In [ ]:
with open(fnew,'w') as fout:
    for i in range(0,len(lines)):
        fout.write(lines[i]+'new')